In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('out/NYC/checkins_v1.csv')

In [3]:
train

,user_id,business_id,poi_type,actual_poi_id,check_in_poi_id,local_time,norm_in_day_time,cat_name,cat_code,trajectory_id,latitude,longitude
0,10,41181000f964a520060c1fe3,individual,0,0,2012-04-07 12:10:47+00:00,0.520833,Other Great Outdoors,0,10@2,40.741481,-74.009433
1,10,41181000f964a520060c1fe3,individual,0,0,2012-04-07 13:51:43+00:00,0.583333,Other Great Outdoors,0,10@2,40.741481,-74.009433
2,10,4a464a63f964a520a3a81fe3,individual,1,1,2012-04-07 15:51:56+00:00,0.666667,Other Great Outdoors,0,10@2,40.850238,-73.946968
3,10,4ae8906ef964a52071b021e3,individual,2,2,2012-04-15 09:27:42+00:00,0.395833,Train Station,1,10@6,40.712671,-74.011931
4,10,49f76cc2f964a5209d6c1fe3,individual,3,3,2012-04-15 10:31:45+00:00,0.458333,Train Station,1,10@6,40.734201,-74.164838
...,...,...,...,...,...,...,...,...,...,...,...,...
100864,999,3fd66200f964a52067e91ee3,individual,3691,3691,2012-12-21 23:52:50+00:00,1.000000,Bar,3,999@27,40.737216,-73.989348
100865,999,3fd66200f964a5203ee71ee3,individual,849,849,2012-12-22 14:27:53+00:00,0.604167,Food & Drink Shop,21,999@27,40.731094,-74.002845
100866,999,40bbc700f964a520a2001fe3,collective,6390,7202,2013-01-09 12:43:19+00:00,0.541667,Korean Restaurant,83,999@28,40.747901,-73.986891
100867,999,4b3ff06cf964a52097b225e3,collective,6723,7234,2013-01-09 14:11:07+00:00,0.604167,Coffee Shop,26,999@28,40.777624,-73.954916
100868,999,4b6daa1cf964a52072842ce3,individual,5576,5576,2013-01-10 10:29:53+00:00,0.437500,Coffee Shop,26,999@28,40.777021,-73.949968

In [9]:
(train.groupby('user_id')['business_id'].count()>=16).value_counts()

True     864
False     13
Name: business_id, dtype: int64

In [18]:
for x in train[train['user_id']==10].iterrows():
    # print(x[1]['user_id'])
    print(x)
    break

(0, user_id                                    10
business_id          41181000f964a520060c1fe3
poi_type                           individual
actual_poi_id                               0
check_in_poi_id                             0
local_time          2012-04-07 12:10:47+00:00
norm_in_day_time                     0.520833
cat_name                 Other Great Outdoors
cat_code                                    0
trajectory_id                            10@2
latitude                            40.741481
longitude                          -74.009433
Name: 0, dtype: object)

In [6]:
train.groupby('user_id')['business_id'].count().min()

15

In [20]:
for x in train['user_id'].unique():
    print(x)
    break

2